




/* Animation */

.text-animate-bottom

{position:relative;animation:animatebottom 1s}

@keyframes animatebottom{
    
    from{bottom:-300px;opacity:0} to{bottom:0px;opacity:1}}
body {
  scroll-behavior: smooth;
    background: #EBECED;
}
/* Nav Bar*/

#nav-header {
height: fit-content;
 position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #FFF447;
  text-align: right;
  z-index: 1;
    

}
#navbar a {
	font-family: "Barlow", sans-serif;
    height: 20px;
  float: left;
    width: 20%;
  display: block;
  color: black;
    padding: 10px;
  transition-duration: 0.4s;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  word-wrap: normal;
background: #FFF447;
}

#navbar a:hover {
  background-color: #FFF447;
  color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    word-wrap: normal;
    font-size: 20px;
    
}
	

/* Body */

#welcome-section {
    display: block;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #c9c9c9;
    text-align: center;
    color: #193446;
    font-family: "Barlow", sans-serif;
    padding-top: 4rem;
  margin-top: 0px;
}

#welcome-text {
    font-size: 50px;
        font-family: "Barlow", sans-serif;
    
}

/*Project Body */

#projects {
    padding-bottom: 200px;
    padding-top: 100px;
    height: 100vh;
    background: #3eb595;
    color: #EBECED;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    position: relative;
}


#project-text {
    font-size: 50px;
    padding: 10px;
        font-family: "Barlow", sans-serif;
    border: 20px black;
    text-align: center;

    
}

.project-tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-end
}
.item-skumorphic {
    display: flex;
    padding: 20px;
  flex: 0 0 auto;
  margin: 16px;
       font-size: 40px;
    width: fit-content;
background: #3eb595;
border-radius: 50px;
background: linear-gradient(225deg, #42c29f, #38a386);
box-shadow:  -20px 20px 60px #359a7f,
             20px -20px 60px #47d0ab;

    font-family: "barlow";
    color: white;
    text-decoration: none;
    word-wrap: normal;
}

.item-skumorphic:hover {
    transition-duration: 0.5s;
    border-radius: 50px;
    background: linear-gradient(225deg, #38a386, #42c29f);
    box-shadow:  -20px 20px 60px #359a7f,
                 20px -20px 60px #47d0ab;
    color: #C8C8C8;
    max-width: inherit;
}

@media (max-width: 20px){
    .item-skumorphic {
        max-width: inherit;
    }
    
}
/* Contact Body */

#contact-section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #EBECED;
    text-align: center;
    color: #193446;
    font-family: "Barlow", sans-serif; }

#contact-section-header {
    font-size: 50px;
        font-family: "Barlow", sans-serif;
    
}

#contact-section-pararaph {
    font-size: 20px;
    margin-bottom: 20rem;
    
}


#contact-section-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin: 1rem;
    
}

.contact-skumorphic {
    padding: 20px;
  flex: 0 0 auto;
  margin: 16px;
       font-size: 20px;
    border-radius: 50px;
    width: inherit;
background: #EBECED;
box-shadow:  20px 20px 60px #c8c9c9,
             -20px -20px 60px #ffffff;
    font-family: "barlow";
    color: #193446;
    text-decoration: none;
    word-wrap: normal;
}

.contact-skumorphic:hover {
border-radius: 50px;
text-align: center;
background: #EBECED;
box-shadow: inset 20px 20px 60px #c8c9c9,
            inset -20px -20px 60px #ffffff;
    font-family: "barlow";
    color: #000000;
    text-decoration: none;
    word-wrap: normal;
}




/* Body Media */ 

@media (max-width: 600px) {
  #navbar a {
    font-size: 12px;
  }
  #navbar a:hover {
    font-size: 15px;
  }
  body {font-size:1rem;} 
  
  .contact-skumorphic {margin: 50px;}
}

@media (min-width:960px) 
{ body {font-size:1.2rem;} } 

@media (min-width:1100px) 

{ body {font-size:1.5rem;} }